[submodule "client/react/javascript/management/todoist"]
	path = client/react/javascript/management/todoist
	url = git@github.com:karlhadwen/todoist.git
[submodule "client/react/javascript/finance/mortgage"]
	path = client/react/javascript/finance/mortgage
	url = git@github.com:paulhoughton/mortgage.git
[submodule "client/react/typescript/management/takenote"]
	path = client/react/typescript/management/takenote
	url = git@github.com:taniarascia/takenote.git
[submodule "client/react/typescript/management/tomato-work"]
	path = client/react/typescript/management/tomato-work
	url = git@github.com:xjh22222228/tomato-work.git
[submodule "client/react/javascript/editor/write-with-me"]
	path = client/react/javascript/editor/write-with-me
	url = git@github.com:dabit3/write-with-me.git
[submodule "client/react/javascript/management/jira_clone"]
	path = client/react/javascript/management/jira_clone
	url = git@github.com:oldboyxx/jira_clone.git
[submodule "client/react/javascript/social/spectrum"]
	path = client/react/javascript/social/spectrum
	url = git@github.com:withspectrum/spectrum.git
[submodule "server/node/javascript/social/spectrum"]
	path = server/node/javascript/social/spectrum
	url = git@github.com:withspectrum/spectrum.git
[submodule "client/react/javascript/social/github-profile-readme-generator"]
	path = client/react/javascript/social/github-profile-readme-generator
	url = git@github.com:rahuldkjain/github-profile-readme-generator.git
[submodule "client/react/typescript/torrent/moose"]
	path = client/react/typescript/torrent/moose
	url = git@github.com:ritz078/moose.git
[submodule "client/react/javascript/education/courselit"]
	path = client/react/javascript/education/courselit
	url = git@github.com:codelitdev/courselit.git
[submodule "client/react/javascript/finance/fireact"]
	path = client/react/javascript/finance/fireact
	url = git@github.com:chaoming/fireact.git
[submodule "client/react/react-tools/unstated"]
	path = client/react/react-tools/unstated
	url = git@github.com:jamiebuilds/unstated.git
[submodule "client/react/react-tools/react-bootstrap"]
	path = client/react/react-tools/react-bootstrap
	url = git@github.com:react-bootstrap/react-bootstrap.git
[submodule "client/react/react-tools/react-select"]
	path = client/react/react-tools/react-select
	url = git@github.com:JedWatson/react-select.git
[submodule "client/react/react-tools/evergreen"]
	path = client/react/react-tools/evergreen
	url = git@github.com:segmentio/evergreen.git
[submodule "client/react/react-tools/react-spring"]
	path = client/react/react-tools/react-spring
	url = git@github.com:pmndrs/react-spring.git
[submodule "client/react/react-resources-repos/reactjs-open-source"]
	path = client/react/react-resources-repos/reactjs-open-source
	url = git@github.com:Mybridge/reactjs-open-source.git
[submodule "client/react/react-tools/after.js"]
	path = client/react/react-tools/after.js
	url = git@github.com:jaredpalmer/after.js.git
[submodule "client/react/typescript/management/docusaurus"]
	path = client/react/typescript/management/docusaurus
	url = git@github.com:facebook/docusaurus.git
[submodule "client/react/react-tools/state-management/react-easy-state"]
	path = client/react/react-tools/state-management/react-easy-state
	url = git@github.com:RisingStack/react-easy-state.git
[submodule "client/react/react-tools/state-management/undux"]
	path = client/react/react-tools/state-management/undux
	url = git@github.com:bcherny/undux.git
[submodule "client/react/react-tools/wordpress/create-guten-block"]
	path = client/react/react-tools/wordpress/create-guten-block
	url = git@github.com:ahmadawais/create-guten-block.git
[submodule "client/react/react-tools/visualization/React-Scope"]
	path = client/react/react-tools/visualization/React-Scope
	url = git@github.com:React-Scope/React-Scope.git
[submodule "client/react/react-tools/starter/React-Redux-Sass-Starter"]
	path = client/react/react-tools/starter/React-Redux-Sass-Starter
	url = git@github.com:Gigacore/React-Redux-Sass-Starter.git
[submodule "client/react/react-tools/styling/styled-components"]
	path = client/react/react-tools/styling/styled-components
	url = git@github.com:styled-components/styled-components.git
[submodule "mobile/react-native/react-native-tools/gesture/react-native-gesture-handler"]
	path = mobile/react-native/react-native-tools/gesture/react-native-gesture-handler
	url = git@github.com:software-mansion/react-native-gesture-handler.git
[submodule "client/react/react-tools/components/react-select"]
	path = client/react/react-tools/components/react-select
	url = git@github.com:JedWatson/react-select.git
