[submodule "client/react/typescript/management/takenote"]
	path = client/react/typescript/management/takenote
	url = git@github.com:taniarascia/takenote.git
[submodule "client/react/javascript/management/todoist"]
	path = client/react/javascript/management/todoist
	url = git@github.com:karlhadwen/todoist.git
[submodule "client/react/javascript/finance/mortgage"]
	path = client/react/javascript/finance/mortgage
	url = git@github.com:paulhoughton/mortgage.git
[submodule "client/react/typescript/management/tomato-work"]
	path = client/react/typescript/management/tomato-work
	url = git@github.com:xjh22222228/tomato-work.git
